@model Turnos.Models.Medico


<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>

<body>

    <h3>¿Seguro desea eliminar el siguiente médico?</h3>
    <div>
        <h4>Médico</h4>
        <hr />

        <div class="row">
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <h5><b>@Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido)</b></h5>
                        @* <span class="card-title">@Html.DisplayFor(model => model.Nombre),  @Html.DisplayFor(model => model.Apellido)</span> *@
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action blue-grey darken-2">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="IdMedico" />
                            <a asp-action="Delete" asp-route-id="@Model.IdMedico">Eliminar</a>
                            <a asp-action="Index">Volver</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Apellido)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Apellido)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Matricula)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Matricula)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Localidad)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Localidad)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HorarioEntrada)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HorarioEntrada)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HorarioSalida)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HorarioSalida)
            </dd>
        </dl>

    </div>
</body>

</html>
