@model Turnos.Models.Medico


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h5>Medico</h5>
    <hr />
        <div class="row">
            <div class="col s12 m6">
                <div class="card hoverable blue darken-1">
                    <div class="card-content white-text">
                        <h5><b>@Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido)</b>
                        </h5>
                        <dl>
                            <dt>
                                <h6><b>@Html.DisplayNameFor(model => model.Matricula) </b>:
                                @Html.DisplayFor(model => model.Matricula)</h6>
                            </dt>
                            <hr>
                            <dt>
                                <h6><b>@Html.DisplayNameFor(model => model.Telefono)</b>:
                                @Html.DisplayFor(model => model.Telefono)</h6>
                            </dt>
                            <hr>
                            <dt>
                                <h6><b>@Html.DisplayNameFor(model => model.Email)</b>:
                                @Html.DisplayFor(model => model.Email)</h6>
                            </dt>
                            <hr>
                            <dt>
                                <h6><b>@Html.DisplayNameFor(model => model.Direccion)</b>:
                                @Html.DisplayFor(model => model.Direccion)</h6>
                            </dt>
                            <hr>
                            <dt>
                               <h6> <b>@Html.DisplayNameFor(model => model.Localidad)</b>:
                                @Html.DisplayFor(model => model.Localidad)</h6>
                            </dt>
                            <hr>
                            <dt>
                               <h6><b> @Html.DisplayNameFor(model => model.HorarioEntrada)</b>:
                                @Html.DisplayFor(model => model.HorarioEntrada)</h6>
                            </dt>
                            <hr>
                            <dt>
                                <h6><b>@Html.DisplayNameFor(model => model.HorarioSalida)</b>:
                                @Html.DisplayFor(model => model.HorarioSalida)</h6>
                            </dt>

                        </dl>
                    </div>
                   <div class="card-action blue-grey darken-2">
                    <a asp-action="Edit" asp-route-id="@Model.IdMedico">Editar</a> 
                    <a asp-action="Index">Volver</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

<div>
</div>
</body>
</html>
