
@model Turnos.ViewModel.MedicoViewModel
@{
    ViewData["Title"] = "Listado de Medicos";
}
<p>
    <a asp-action="Create" class="btn-floating btn-large green darken-1">
        <i class="material-icons">person_add</i>
    </a>
</p>

<form asp-action="Index" method="get" class="z-depth-4" style="padding: 10px; margin-bottom: 20px;">
    <div class="row">
        <div class="input-field col s12 m6">
            <input name="busquedaNombre" type="text" value="@Model.busquedaNombre">
            <label for="Nombre">Buscar por nombre</label>
        </div>
        <div class="input-field col s12 m6">
            <select name="busquedaEspecialidad" asp-items="@Model.ListaEspecialidades" selected-item="@Model.busquedaEspecialidad">
                <option value="">Todas las especialidades</option>
            </select>
        </div>
        <button type="submit" value="Filtrar" class="waves-effect waves-light btn-small orange"><i class="material-icons left">search</i>Filtrar</button>
    </div>
</form>

<table class="responsive-table highlight z-depth-3 blue lighten-5">
    <thead class="blue darken-1 white-text">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListaMedicos[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaMedicos[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaMedicos[0].Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaMedicos[0].Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaMedicos[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaMedicos[0].Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaMedicos[0].Localidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaMedicos[0].HorarioEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaMedicos[0].HorarioSalida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListaMedicos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioSalida)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMedico">
                    <i class="material-icons">edit</i>
                </a>
                <a asp-action="Details" asp-route-id="@item.IdMedico">
                        <i class="material-icons grey-text">more_vert</i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.IdMedico">
                    <i class="material-icons red-text">delete</i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_paginador" for="@Model.paginador" />
