@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Turnos</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/css/materialize.min.css" media="screen,projection" />
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper grey darken-3">
                <a asp-controller="Home" asp-action="Index" class="brand-logo center">Consultorio</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <div class="right hide-on-med-and-down">
                    <partial name="_LoginPartial" />
                </div>
                <ul class="left hide-on-med-and-down">
                    <li><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li><a asp-controller="Especialidad" asp-action="Index">Especialidades</a></li>
                    <li><a asp-controller="Paciente" asp-action="Index">Pacientes</a></li>
                    <li><a asp-controller="Medico" asp-action="Index">Medicos</a></li>
                    <li><a asp-controller="Turno" asp-action="Index">Turnos</a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <br>
            <li><a asp-controller="Home" asp-action="Index">Inicio</a></li>
            <li><a asp-controller="Especialidad" asp-action="Index">Especialidades</a></li>
            <li><a asp-controller="Paciente" asp-action="Index">Pacientes</a></li>
            <li><a asp-controller="Medico" asp-action="Index">Medicos</a></li>
             <li><a asp-controller="Turno" asp-action="Index">Turnos</a></li>
            <hr>
            @if(SignInManager.IsSignedIn(User)){
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
                </li>
                <li>
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" style="display: flex; justify-content: center">
                        <button type="submit" class=" btn waves-effect waves-light red darken-2" style="width: 90%;">Cerrar Sesión</button>
                    </form>
                </li>
            }
            else{
                <li>
                    <a asp-area="Identity" asp-page="/Account/Register">Registrar</a>
                </li>
                <li>
                     <a asp-area="Identity" asp-page="/Account/Login">Ingresar</a>
                </li>
            }
        </ul>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Turnos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/materialize.min.js"></script>
    @RenderSection("Scripts", required: false)

     <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.timepicker').timepicker();
            $('select').formSelect();
        })
    </script>

   
</body>

</html>
