@model Turnos.Models.Paciente

<h3>
    ¿Esta seguro que desea eliminar el paciente?
</h3>
<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPaciente" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
    </form>

    <div>
        @Html.ActionLink("Volver a la lista", "Index")
    </div>
</div>