@model Turnos.Models.Paciente

<h4>Paciente</h4>

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apellido)
        <dt>
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

</div>

<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdPaciente }) |
    @Html.ActionLink("Volver", "Index")
</div>